


.mat-card{
    margin: 20px;
    box-shadow: 0px 2px 1px 2px whitesmoke (0, 0, 0, 0), 0px 1px 1px 0px whitesmoke (0, 0, 0, 0), 0px 1px 3px 0px whitesmoke (0, 0, 0, 0);
}
p{
    font-weight: bold;
    padding-left: 10px;
    background: #b3e5fc;
    border-left: 5px solid blue;
    position: absolute;
    margin-left: -16px;
    width: 100%;
    top: 0px;
}
.textGdr{
margin-top: 36px;
margin-left:14px;
}
.textarea{
    margin-top: -14px ;
}
.subm{
    text-align: center;
}



